<main id="pageContent" class="page has-sidebar">
    <div class="container-fluid relative animatedParent">
        <div class="animated p-md-5 p-3">
            <section>
                <div class="relative mb-5">
                    <h1 class="mb-2 text-primary">La Team SpotiTube</h1>
                    <p>Découvrez les talents qui ont permis la conception de SpotiTube</p>
                    <p>N'hésitez-pas à consulter nos profils Linkedin et à <%= link_to 'nous contacter', root_path %>.</p>
                </div>
                    <h3 class="mb-2">Les développeurs</h3>
                        <div class="row mb-5">
                            <div class="col-md-4 mb-3">
                                <figure class="avatar avatar-md avatar-letter-o float-left mr-3 mt-1">
                                </figure>
                                <div>
                                    <h6>Orane CHAPER</h6>
                                    <p><%= link_to 'Voir son profil Linkedin', 'https://www.linkedin.com/in/orane-chaper-alriquet-2ba841bb/' %></p>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <figure class="avatar avatar-md avatar-letter-a float-left mr-3 mt-1">
                                </figure>
                                <div>
                                    <h6>Anthony KRIEF</h6>
                                    <p><%= link_to 'Voir son profil Linkedin', 'https://www.linkedin.com/in/anthony-krief-8a03a174/' %></p>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <figure class="avatar avatar-md avatar-letter-e float-left mr-3 mt-1">
                                </figure>
                                <div>
                                    <h6>Elia TREILHOU</h6>
                                    <p><%= link_to 'Voir son profil Linkedin', 'https://www.linkedin.com/in/elia-treilhou/' %></p>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-4 mb-3">
                                <figure class="avatar avatar-md avatar-letter-a float-left mr-3 mt-1">
                                </figure>
                                <div>
                                    <h6>Audélia SENDER</h6>
                                    <p><%= link_to 'Voir son profil Linkedin', 'https://www.linkedin.com/in/aud%C3%A9lia-s-28a4861b7' %></p>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <figure class="avatar avatar-md avatar-letter-o float-left mr-3 mt-1">
                                </figure>
                                <div>
                                    <h6>Olivier FITOUSSI</h6>
                                    <p><%= link_to 'Voir son profil Linkedin', 'https://www.linkedin.com/in/%E2%98%81-olivier-fitoussi-%E2%98%81-4510381a/' %></p>
                                </div>
                            </div>
                        </div>
                    <h3 class="mb-2">Les mentors</h3>
                        <div class="row mb-5">
                            <div class="col-md-4 mb-3">
                                <figure class="avatar avatar-md avatar-letter-o float-left mr-3 mt-1">
                                </figure>
                                <div>
                                    <h6>David KRIEF</h6>
                                    <p><%= link_to 'Voir son profil Linkedin', 'https://www.linkedin.com/in/david-krief/' %></p>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <figure class="avatar avatar-md avatar-letter-a float-left mr-3 mt-1">
                                </figure>
                                <div>
                                    <h6>Hadrien SAMOUILLAN</h6>
                                    <p><%= link_to 'Voir son profil Linkedin', 'https://www.linkedin.com/in/hadrien-samouillan/' %></p>
                                </div>
                            </div>
                        </div>
                    <h3 class="mb-2">La graphiste logo</h3>
                        <div class="row mb-5">
                            <div class="col-md-4 mb-3">
                                <figure class="avatar avatar-md avatar-letter-o float-left mr-3 mt-1">
                                </figure>
                                <div>
                                    <h6>Alexandra EZRA</h6>
                                    <p><%= link_to 'Voir son profil Linkedin', 'https://www.linkedin.com/in/alexandra-ezra-52918a14a/' %></p>
                                </div>
                            </div>
                        </div>
            </section>
        </div>
    </div>
</section>