<div id="primary" class="p-t-b-30 height-full">
    <div class="container">

        <!-- Sign in form -->
        <div class="row">
            <div class="col-md-10 mx-md-auto">
                <div class="mt-5">
                    <div class="row grid">
                        <div class="col-md-5  p-5">
                            <h1 class="mt-3 font-weight-lighter">Mon profil</h1>
                            <%= link_to "Modifer mon profil", edit_user_path(current_user), class:"btn btn-outline-primary btn-sm mr-4 " %>
                                    <br>
                                    <%= link_to "Modifier mon compte utilisateur", edit_user_registration_path(current_user), class:"btn btn-outline-secondary btn-sm mt-3" %>
                        </div>
                        <div class="col card p-5" style="width:600px;">
                                <!-- Input -->
                                <div class="body row">
                                    <!-- Input playlist title -->
                                    <div class="col">
                                        <figure class="avatar avatar-xl">
                                                    <%if @user.avatar.attached?%>
                                                    <%= image_tag @user.avatar, alt: 'avatar' %>
                                                <%else%>
                                                    <%= image_tag "/assets/images/spoticon.png", alt: 'avatar' %>
                                                <%end%> 
                                        </figure>
                                        <h4><%= @user.name %></h4>
                                    </div>
                                    <!-- Input playlist description-->
                                    <div class="col">
                                        <div>
                                            <h5 class="mb-1">Description</h5>
                                            <% if @user.description.blank? %>
                                                <span>Vous n'avez pas encore complété cette partie.</span>
                                            <% else %>
                                                <span><%= @user.description %></span>
                                            <% end %>
                                        </div>
                                    </div>
                                    <!-- Radio buttons private mode -->
                                    
                                    
                                </div>

            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>