<br>
<br>
<div class="container"><h2>Tu peux permettre à un utilisateur d'acéder à ta playlist !</h2>

    <form action="<%= playlist_collaborations_path %>" method="POST">
        <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >
        <br>
            <div class="form-group">

<%= form_tag collaborations_path, method: :get do %>
  <%= text_field_tag 'term', params[:term], placeholder: "Enter user's name or surname" %>
  <%= submit_tag 'Search!' %>
<% end %>

<%# begin
                <label for="collaborator_id">Choisis un utilisateur : </label>
                <br>
                <br>
                    <%= select_tag(:collaborator_id, options_from_collection_for_select(@chosefrom, "id", "name")) %>
                <br>
                <br>
<%# end%>           

            </div>
        <button type="submit" class="btn btn-dark">Valider</button>
    </form>

</div>