<footer class="mainfooter xv-slide"" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-3  mt-5 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>SpotiTube</h4>
          <ul class="list-unstyled">
            <li><%= link_to 'A propos', static_pages_about_path %></li>
            <li><%= link_to "FaQ", static_pages_faq_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3  mt-5 col-sm-6">
        <!--Column2-->
        <div class="footer-pad">
          <h4>Faisons connaissance</h4>
          <ul class="list-unstyled">
            <li><%= link_to "La Team", static_pages_team_path %></li>
            <li><%= link_to "Contact", static_pages_contact_path %></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3  mt-5 col-sm-6">
        <!--Column3-->
        <div class="footer-pad">
          <h4></h4>
          <ul class="list-unstyled">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li>
              <a href="#"></a>
            </li>
          </ul>
        </div>
      </div>
    	<div class="col-md-3  mt-5 ">
    		<h4>Suivez-nous</h4>
            <ul class="social-network social-circle">
             <li><%= link_to image_tag(""), "https://www.facebook.com/Spotitube-102007101660178/?ref=page_internal" %><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></li>
             <li><%= link_to image_tag(""), "https://twitter.com/Spotitube1" %><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></li>
             <li><%= link_to image_tag(""), "https://www.instagram.com/spotitube_team/" %><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></li>
            </ul>				
		</div>
    </div>
	<div class="row mt-5">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2020 - La Team SpotiTube.  Tous droits réservés.</p>
		</div>
	</div>


  </div>
</footer>

